[Unit]
Description=Allocate Field System shared memory

[Service]
Type=oneshot
ExecStart=/usr2/fs/bin/fsalloc
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
